SUPABASE_URL=lodairknjgyvxmxtbjtlp
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9kYWlya25qZ3l2eG14dGJqdGxwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI0MzM3MzksImV4cCI6MjA4ODAwOTczOX0.p-u8tNGB19_3_1nE39IkzJ9a6064jQvRuiJbh-5dGDs
